.csTop {
    padding-top: 180px;
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
}

.section-title1 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.section-title1 h2 {
    font-weight: 700;
}

.banner {}

.banner .container {
    display: flex;
}

.banner .left {
    width: 50%;
    background: #7ccad3;
    padding: 30px 40px;
    color: #fff;
}

.banner .left h4 {
    color: #fff;
    font-weight: bold;
    margin-bottom: 15px;
}

.banner .left h3 {
    color: #fff;
    font-size: 32px;
    margin-bottom: 15px;
}

.banner .left p {
    color: #fff;
}

.banner .left p:nth-of-type(1) {
    margin-bottom: 15px;
}

.banner .left p:nth-child() {}


.banner .right {
    width: 50%;
    background: #f8f7f3;
}

.banner .right .rightBox {
    width: 80%;
    height: 50%;
    border-bottom: 1px solid #ddd;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.banner .right .top {

    border-bottom: 1px solid #ddd;
}

.banner .right .rightBox h4 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}

.banner .right .top p {
    font-size: 22px;
}

.banner .right .top p span {
    font-size: 14px;
    padding-left: 10px;
}

.banner .right .bottom {}

.banner .right .bottom h4 {}

.banner .right .bottom span {
    color: #999;
}



.cs1 {
    padding-top: var(--gap100);
}

.cs1 .container {
    border: 1px solid var(--color33);
    border-top-width: 2px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.cs1 .section-title {}

.cs1 .section-title h2 {}

.cs1 .section-title h6 {
    margin-bottom: 10px;
}

.cs1 .item {
    padding: 30px 30px;
    text-align: center;
    border-right: var(--borderdd);
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cs1 .item:hover {
    background: #404040;
    color: #fff;
}

.cs1 .item:hover p {
    color: #fff;
}

.cs1 .num {
    font-size: 22px;
    margin-top: -16px;
    margin-bottom: 8px;
}

.cs1 .item:nth-child(5n) {
    border-right: none;
}

.cs1 .item:nth-child(1n) {
    border-bottom: var(--borderdd);
}

.cs-pop {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.cs-pop .bg {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.cs-pop .cont-group {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
}

.cs-pop .cont {
    padding: 50px 0px;
    width: 100%;
    max-width: 800px;
    min-height: 500px;
}

.cs-pop .cont h3 {
    margin-bottom: 10px;
    padding: 0 50px;
}

.cs-pop .cont h4 {
    margin-bottom: 10px;
    padding: 0 50px;
}

.cs-pop .cont p {
    padding: 0 50px;
}

.cs-pop .cont .x-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px;
    cursor: pointer;
}

.cs-pop .cont .x-btn:hover {
    background: #000;
    color: #fff;
}

.anno {
    padding-top: 100px;
    padding-bottom: 64px;
}

.anno .item .ques {
    cursor: pointer;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.anno .item .ques:hover {
    background: #f2f2f2;
}

.anno .item.active .ques i {
    transform: rotate(180deg);
}

.anno .item .ques h4 {
    padding: 20px 20px;
}

.anno .item .answ {
    background: #f5f5f5;
    padding: 20px 20px;
}

.anno .item .answ p {}


/* 초기 값  */
.cs-pop {
    display: none;
}

.anno .answ {
    display: none;
}


@media screen and (max-width:768px) {

    .section-title1 h2 {
        font-weight: 500;
        font-size: 22px;
    }

    .banner {}

    .banner .container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .banner .left {
        width: 100%;
        background: #7ccad3;
        padding: 20px 20px;
        color: #fff;
    }

    .banner .left h4 {
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .banner .left h3 {
        color: #fff;
        font-size: 22px;
        margin-bottom: 15px;
    }

    .banner .left p {
        color: #fff;
        font-size: 12px;
    }


    .banner .right {
        width: 100%;
        background: #f8f7f3;
    }

    .banner .right .rightBox {
        width: 90%;
        height: 120px;
        border-bottom: 1px solid #ddd;

    }

    .banner .right .rightBox:nth-of-type(2) {
        border-bottom: none;
    }

    .banner .right .rightBox h4 {
        font-size: 18px;
    }

    .banner .right .top p {
        font-size: 18px;
    }

    .banner .right .top p span {
        font-size: 12px;
        padding-left: 10px;
    }

    /* 불편한 부분 부터 section cs1 */

    .cs1 .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .cs1 .section-title h2 {
        font-size: 22px;
        font-weight: 400;
    }

    .cs1 .section-title h6 {
        font-size: 12px;
    }

    .cs1 .item {
        padding: 25px 20px;
    }

    .cs1 .num {
        font-size: 18px;
    }

    .cs1 .item:nth-child(5n) {
        border-right: var(--borderdd);
    }

    /* cs1 > 팝업창 */

.cs-pop .cont-group {
    width: 90%;
}

.cs-pop .cont {
    overflow-y: scroll;
}
.cs-pop .cont h3 {
    padding: 0 20px;
}

.cs-pop .cont h4 {
    padding: 0 20px;
}

.cs-pop .cont p {
    padding: 0 20px;
}


.cs-pop .cont .x-btn:hover {
    background: #000;
    color: #fff;
}


.anno .item .ques h4 {
    padding: 10px 20px;
    font-size: 14px;
}

.anno .item .answ {
    background: #f5f5f5;
    padding: 10px 20px;
}

.anno .item .answ p {
    font-size: 14px;
}

}