.main {
  padding-top: 180px;
}

.main .container {
  display: flex;
  gap: 60px;
  align-items: flex-start;
}

.container .detailLeft {
  width: 55%;
}

.container .detailRight {
  width: 45%;
  position: sticky;
  top: 180px;
}

.container .detailLeft .bigImg-box {
  width: 100%;
  max-width: 700px;
  border-radius: 14px;
  overflow: hidden;
  background: #f6f6f6;
}

.container .detailLeft .bigImg-box img {
  width: 100%;
  height: 650px;
  display: block;
}

.container .detailLeft .bigImg-box img:not(img:nth-of-type(1)) {
  display: none;
}

.container .detailLeft .smallImg-box {
  width: 100%;
  max-width: 700px;
  display: flex;
  gap: 10px;
  margin-top: 14px;
  padding-bottom: 10px;

  overflow-x: auto;
}

.container .detailLeft .smallImg-box::-webkit-scrollbar {
  height: 30px;
}

.container .detailLeft .smallImg-box::-webkit-scrollbar-track {
  background: #f2f4f6;
  border-radius: 50px;
}

.container .detailLeft .smallImg-box::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #00b8b8, #7fdede);
  border-radius: 50px;
  border: 3px solid #f2f4f6;
}


.container .detailLeft .smallImg-box img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 12px;
  flex: 0 0 auto;
  scroll-snap-align: start;
  cursor: pointer;
  border: 1px solid #eee;
  opacity: .75;
  transition: .15s;
}

.container .detailLeft .smallImg-box img.is-active {
  opacity: 1;
  border-color: #111;
}


.detailRight .bigTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detailRight .bigTitle .heart {
  font-size: 25px;
  cursor: pointer;
}

.detailRight .bigTitle .heart i:nth-of-type(2) {
  display: none;
}

.detailRight .bigTitle .heart.active {
  color: #FF1744;
}


.detailRight .badge {
  display: inline-block;
  font-size: 12px;
  padding: 3px 8px;
  border: 1px solid #2cc;
  border-radius: 999px;
  color: #2cc;
  margin-bottom: 8px;
}

.detailRight .prdName {
  font-size: 30px;
  font-weight: 700;
  margin: 20px 0;
}

.detailRight .prdEn {
  color: #888;
  font-size: 14px;
  margin-bottom: 20px;
}

.detailRight .prdTop {}

.detailRight .priceBox {
  margin: 100px 0;
}

.detailRight .price {
  font-size: 28px;
  font-weight: 800;
  color: #00b8b8;
  margin: 18px 0 22px;
}

.infoBox {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 14px 0;
  margin-bottom: 18px;
}

.toggleRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 8px 0;
  font-weight: 700;
}

.toggleCont {
  display: none;
  padding: 10px 0 6px;
  color: #666;
  font-size: 13px;
  line-height: 1.6;
}

.toggleCont ul {
  padding-left: 18px;
}

.optionBox {
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 14px;
  margin-bottom: 14px;
}

.optRow {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: 12px;
}

.optName {
  font-weight: 700;
}

.qty {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  height: 36px;
}

.qtyBtn {
  width: 34px;
  height: 36px;
  border: 0;
  background: #f7f7f7;
  cursor: pointer;
}

.qtyInput {
  width: 48px;
  height: 36px;
  border: 0;
  text-align: center;
  outline: none;
}

.optPrice {
  font-weight: 800;
  min-width: 88px;
  text-align: right;
}

.totalBox {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  margin: 18px 0;
}

.totalPrice {
  color: #00b8b8;
  font-size: 22px;
  margin-left: 8px;
}

.totalCnt {
  color: #777;
  font-size: 12px;
  margin-left: 6px;
}

.btnRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.btnCart {
  height: 56px;
  border: 1px solid #00b8b8;
  background: #fff;
  color: #00b8b8;
  font-weight: 800;
  border-radius: 12px;
  cursor: pointer;
}

.btnBuy {
  height: 56px;
  border: 1px solid #00b8b8;
  background: #00b8b8;
  color: #fff;
  font-weight: 800;
  border-radius: 12px;
  cursor: pointer;
}


.middleBanner {}

.middleBanner .container1 {
  width: 90%;
  max-width: 1300px;
  margin: 100px auto;

}

.middleBanner .container1 .banner1 {
  margin-bottom: 50px;
}

.middleBanner .banner2 .swiper {
  width: 100%;
  height: 160px;
  padding-bottom: 0px;
  box-sizing: border-box;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  bottom: -25px !important;
}

.detailCont {
  margin-top: 80px;
  padding: 60px 0;
  background: #fafafa;
}

.detailCont .container {
  display: flex;
  flex-direction: column;
}

.detailCont .section {
  width: 100%;
}



.detailCont .section .contNav .list {
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-bottom: 20px;
}

.detailCont .section .contNav .list .product {
  border-bottom: 1px solid #999;
  cursor: pointer;
}

.detailCont .section .contNav .list1 .productInfo,
.detailCont .section .contNav .list2 .productReview,
.detailCont .section .contNav .list3 .productInquiry,
.detailCont .section .contNav .list4 .productRecom,
.detailCont .section .contNav .list5 .productReturn {
  color: #00b8b8;
  border-bottom: 3px solid #00b8b8;
  padding-bottom: 20px;
}

.detailCont .productInfoSection {
  width: 100%;
}

.detailCont .productInfoSection .img-box {
  width: 80%;

  margin: 0 auto;
}

.detailCont .productInfoSection .img-box img {}

.detailCont .review {
  width: 100%;
  margin-bottom: 50px;

}

.detailCont .review .reviewBox {}

.detailCont .review .reviewBox .text {
  width: 100%;
  height: 200px;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.detailCont .review .reviewBox .text i {
  color: #000;
}

.detailCont .review .reviewBox .text p {
  font-size: 16px;
  color: #999;
}

.detailCont .review .reviewBox .text p:nth-of-type(2) {
  font-size: 12px;
}

.detailCont .review .reviewBox button {
  cursor: pointer;
  background: #00cccb;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  padding: 15px 20px;
  border: none;
  position: absolute;
  right: 0;
}

.detailCont .inquiry {
  font-size: 14px;
  margin-top: 50px;
}

.detailCont .inquiry table {
  width: 100%;
  border-collapse: collapse;
}

.detailCont .inquiry thead {
  width: 100%;
}

.detailCont .inquiry thead tr {
  border-top: 1px solid #e5e5e5;
  height: 50px;
}

.detailCont .inquiry thead tr th {}

.detailCont .inquiry thead tr th:nth-of-type(2),
.detailCont .inquiry tbody tr td:nth-of-type(2),
.detailCont .inquiry tbody tr td:nth-of-type(3) {
  text-align: left;
}

.detailCont .inquiry tbody {
  text-align: center;

}

.detailCont .inquiry tbody tr {
  height: 50px;
  border-top: 1px solid #e5e5e5;
  cursor: pointer;
}

.detailCont .inquiry tbody tr:hover {
  background: #f5f5f5;
}

.detailCont .inquiry tbody tr:last-child {
  border-bottom: 1px solid #e5e5e5;

}

.detailCont .inquiry tbody tr td {}

.detailCont .RecomProducts {
  display: flex;
  gap: 20px;
  margin: 50px 0;
}

.detailCont .RecomProducts .item {
  cursor: pointer;

}

.detailCont .RecomProducts .item .img-box {
  width: 100%;
  max-width: 200px;
  max-height: 300px;
}

.detailCont .RecomProducts .item:hover .img-box img:nth-of-type(1) {
  display: none;
}

.detailCont .RecomProducts .item:hover .img-box img:nth-of-type(2) {
  display: block;
}

.detailCont .RecomProducts .item .textP {
  margin-top: 10px;
}

.detailCont .RecomProducts .item .textP:hover {
  color: #00cccb;
}

.detailCont .RecomProducts .item .img-box img:nth-of-type(2) {
  display: none;
}

.returnWrap {
  margin-top: 30px;
}

.returnRow {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 40px;
  padding: 45px 0;
  border-bottom: 1px solid #e5e5e5;
}

.returnRow:last-child {
  border-bottom: none;
  padding-top: 45px;

}

.returnTitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  color: #111;
}

.returnList {
  margin: 0;
  padding-left: 18px;
  color: #333;
  font-size: 14px;
  line-height: 1.9;
}

.returnList li {
  margin: 6px 0;
}



/* 반응형 */

@media screen and (max-width: 768px) {

  .main .container {
    flex-direction: column;
    gap: 30px;
  }

  .middleBanner .container1 .banner1 {
    display: none;
  }

  .middleBanner .banner2 .swiper {
    height: auto;
  }

  .detailCont .section .contNav .list .product {
    font-size: 12px;
  }

  .container .detailLeft,
  .container .detailRight {
    width: 100%;
  }

  .container .detailRight {
    position: static;
    top: auto;
  }

  .detailCont .review .reviewBox button {
    cursor: pointer;
    background: #00cccb;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 15px;
    border: none;
    position: absolute;
    right: 0;
  }

  .returnRow {
    grid-template-columns: 1fr;
    gap: 14px;
    padding: 28px 0;
  }

  .returnTitle {
    font-size: 14px;
  }

  .returnList li {
    font-size: 12px;
  }

  .detailCont .RecomProducts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 50px 0;
  }

  .detailCont .inquiry {
    font-size: 12px;
    margin-top: 30px;
  }

  .detailCont .inquiry table {
    width: 100%;
    table-layout: fixed;
  }

  .detailCont .inquiry th,
  .detailCont .inquiry td {
    padding: 10px 6px;
    vertical-align: middle;
  }

  .detailCont .inquiry th:nth-child(1),
  .detailCont .inquiry td:nth-child(1) {
    width: 34px;
    white-space: nowrap;
    text-align: center;
  }

  .detailCont .inquiry th:nth-child(4),
  .detailCont .inquiry td:nth-child(4) {
    width: 40px;
    white-space: nowrap;
    text-align: center;
  }

  .detailCont .inquiry th:nth-child(5),
  .detailCont .inquiry td:nth-child(5) {
    width: 50px;
    white-space: nowrap;
    text-align: center;
  }

  .detailCont .inquiry th:nth-child(6),
  .detailCont .inquiry td:nth-child(6) {
    width: 78px;
    white-space: nowrap;
    text-align: center;
  }

  .detailCont .inquiry td:nth-child(2),
  .detailCont .inquiry td:nth-child(3) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .detailCont .inquiry td:nth-child(2) {
    font-weight: 600;
  }


}